<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../assets/images/img_index/Logo-Dark.png" alt="品牌標誌"></a>
        <div class="d-flex">
            <div class="d-lg-block d-none" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="story.html">甜點故事</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">所有商品</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">最新消息</a>
                  </li>
                </ul>
            </div>
            <div class="navbar-icon d-flex">
                <form class="d-flex">
                    <div class="input-group">
                        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                        <input class="form-control me-2 search-box search-active" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                <a class="nav-link" href="#"><i class="bi bi-person fs-4 mx-3"></i></a>
                <a class="nav-link" href="cart.html"><i class="bi bi-cart align-center fs-4 mx-3"></i></a>
            </div>
            <button class="navbar-toggler-lg ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse-lg" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">訂單列表</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">所有商品</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">品牌故事</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">最新消息</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">線上客服</a>
                  </li>
                </ul>
              </div>
        </div>   
    </div>
  </nav>