<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 購物車標題 -->
      <div class="container-fluid">
      <div class="cart-head d-flex flex-row mt-5 mb-4 fw-bold">
        <h1 class="text-primary-800 ">購物車</h1>
        <h2 class="align-self-end text-primary-800 fw-bold">Cart</h2>
      </div>
    </div>
    
    <!-- 購物車主要區塊 -->
      <div class="container-fluid"> 
      <div class="row">
        <div class="col-md-3 pb-md-3 border-bottom-cs-1 d-sm-flex d-none">
          <img src="../assets/images/img_cart/cart_01.jpg" class="rounded" style="width: 306px;height: 164px; object-fit: cover;" alt="lemon tart">
        </div>
        <div class="col-md-4 pb-md-3 border-bottom-cs-2">
          <img src="../assets/images/img_cart/cart_01.jpg" class="rounded d-sm-none d-inline-block me-2" style="width: 56px;height: 56px; object-fit: cover;" alt="lemon tart">
          <h5 class=" text-primary-900 fw-bold mb-2 d-inline-block">清爽夏日鳳梨檸檬塔</h5>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0  text-grey-700">規格</p>
                <div class="dropdown">
                      <button class="btn btn-grey-000 btn-outline-grey-400 text-primary-900 dropdown-toggle"  style="width:220px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        切片
                      </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item  text-primary-900" href="#">切片</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">整塊</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">禮盒</a></li>
                  </ul>
                </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0 m-0 align-self-center  text-grey-700">數量</p>
            <div class="btn-num-group">
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-dash-lg"></i></button>
              <button type="button" style="width: 56px;"              class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num">5</button>
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-plus"></i></button>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-md-2 ">
            <p class=" m-0 align-self-center text-grey-700">金額</p>
            <p class=" m-0  text-grey-700 align-self-center">NT$350</p>
          </div>
        </div>
        <div class="col-md-1 pb-3 border-bottom-cs-1 d-sm-flex d-none">
          <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <a class="text-primary-900  "><i class="bi bi-trash3"></i></a>
          </div>
        </div>
      </div>
      </div> 
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-3 pb-md-3 border-bottom-cs-1 d-sm-flex d-none">
          <img src="../assets/images/img_cart/cart_02.jpg" class="rounded" style="width: 306px;height: 164px; object-fit: cover;" alt="lemon tart">
        </div>
        <div class="col-md-4 pb-md-3 border-bottom-cs-1 border-bottom-cs-2 ">
          <img src="../assets/images/img_cart/cart_02.jpg" class="rounded d-sm-none d-inline-block me-2" style="width: 56px;height: 56px; object-fit: cover;" alt="lemon tart">
          <h5 class=" text-primary-900 fw-bold mb-2 d-inline-block">清爽夏日鳳梨檸檬塔</h5>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0  text-grey-700">規格</p>
                <div class="dropdown">
                  <button class="btn btn-grey-000 btn-outline-grey-400 text-primary-900 dropdown-toggle" style="width:220px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    切片
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item  text-primary-900" href="#">切片</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">整塊</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">禮盒</a></li>
                  </ul>
                </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0 m-0 align-self-center  text-grey-700">數量</p>
            <div class="btn-num-group">
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-dash-lg"></i></button>
              <button type="button" style="width: 56px;"              class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num">5</button>
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-plus"></i></button>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-md-2  ">
            <p class=" m-0 align-self-center text-grey-700">金額</p>
            <p class=" m-0  text-grey-700 align-self-center">NT$350</p>
          </div>
        </div>
        <div class="col-md-1 pb-md-3 border-bottom-cs-1 d-sm-flex d-none">
          <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <a class="text-primary-900  "><i class="bi bi-trash3"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-3 pb-md-3 border-bottom-cs-1 d-sm-flex d-none">
          <img src="../assets/images/img_cart/cart_03.jpg" class="rounded" style="width: 306px;height: 164px; object-fit: cover;" alt="lemon tart">
        </div>
        <div class="col-md-4 pb-md-3 border-bottom-cs-1 border-bottom-cs-2">
          <img src="../assets/images/img_cart/cart_03.jpg" class="rounded d-sm-none d-inline-block me-2" style="width: 56px;height: 56px; object-fit: cover;" alt="lemon tart">
          <h5 class=" text-primary-900 fw-bold mb-2 d-inline-block">清爽夏日鳳梨檸檬塔</h5>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0  text-grey-700">規格</p>
                <div class="dropdown">
                  <button class="btn btn-grey-000 btn-outline-grey-400 text-primary-900 dropdown-toggle" style="width: 220px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    切片
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item  text-primary-900" href="#">切片</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">整塊</a></li>
                    <li><a class="dropdown-item  text-primary-900" href="#">禮盒</a></li>
                  </ul>
                </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-2">
            <p class="card-text m-0 m-0 align-self-center  text-grey-700">數量</p>
            <div class="btn-num-group">
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-dash-lg"></i></button>
              <button type="button" style="width: 56px;"              class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num">5</button>
              <button type="button" style="width: 40px;height: 40px;" class="btn btn-grey-000 btn-outline-grey-400 text-grey-700 btn-num"><i class="bi bi-plus"></i></button>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between mb-md-2 ">
            <p class=" m-0 align-self-center text-grey-700">金額</p>
            <p class=" m-0  text-grey-700 align-self-center">NT$350</p>
          </div>
        </div>
        <div class="col-md-1 pb-3 border-bottom-cs-1 d-sm-flex d-none">
          <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <a class="text-primary-900  "><i class="bi bi-trash3"></i></a>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- 運費總計區 -->
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-8 mt-4 border-bottom-cs-3">
          <div class="d-flex flex-row justify-content-between mb-2" style="max-width: 728px;">
            <p class="fs-5 text-primary-900 ps-4 fw-bold">運費</p>
            <p class="fs-5 text-secondary-800 pe-4 fw-bold">NT$100</p>
          </div>
          <div class="d-flex flex-row justify-content-between mb-2" style="max-width: 728px;">
            <p class="fs-4 text-primary-900 ps-4 fw-bold">金額總計</p>
            <p class="fs-2 text-secondary-800 pe-4 fw-bold">NT$2500</p>
          </div>
        </div>
      </div>
      </div>

      <!-- 手做產品區 -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 ">
            <h2 class="m-t-16 text-primary-700 fw-bold">物語天然手作產品</h2>
            <div class="d-flex justify-content-between">
              <div class="card border border-primary-700 me-4" style="width: 192px;">
                <div class="position-relative" >
                  <img src="../assets/images/img_cart/cart_04.jpg" class="card-img-top" style="height: 144px; object-fit: cover; object-position:bottom" alt="...">
                  <button class="btn-circle btn-grey-000 btn-outline-grey-400  position-absolute bottom-0 end-0 m-r-3 m-b-3"> <i class="bi bi-plus-lg "></i></button>
                </div>
                <div class="card-body border-top border-primary-700">
                  <h5 class="card-title text-grey-700 fw-bold">經典香氛蠟燭</h5>
                  <div class="d-flex justify-content-between">
                    <p class="text-grey-700">金額</p>
                    <p class="fw-bold text-secondary-800 fs-4">NT$130</p>
                  </div>
                </div>
              </div>
              <div class="card border border-primary-700 me-4" style="width: 192px;">
                <div class="position-relative" >
                  <img src="../assets/images/img_cart/cart_04.jpg" class="card-img-top" style="height: 144px; object-fit: cover; object-position:bottom" alt="...">
                  <button class="btn-circle btn-grey-000 btn-outline-grey-400  position-absolute bottom-0 end-0 m-r-3 m-b-3"> <i class="bi bi-plus-lg "></i></button>
                </div>
                <div class="card-body border-top border-primary-700">
                  <h5 class="card-title text-grey-700 fw-bold">經典香氛蠟燭</h5>
                  <div class="d-flex justify-content-between">
                    <p class="text-grey-700">金額</p>
                    <p class="fw-bold text-secondary-800 fs-4">NT$130</p>
                  </div>
                </div>
              </div>
              <div class="card border border-primary-700 me-4" style="width: 192px;">
                <div class="position-relative" >
                  <img src="../assets/images/img_cart/cart_04.jpg" class="card-img-top" style="height: 144px; object-fit: cover; object-position:bottom" alt="...">
                  <button class="btn-circle btn-grey-000 btn-outline-grey-400  position-absolute bottom-0 end-0 m-r-3 m-b-3"> <i class="bi bi-plus-lg "></i></button>
                </div>
                <div class="card-body border-top border-primary-700">
                  <h5 class="card-title text-grey-700 fw-bold">經典香氛蠟燭</h5>
                  <div class="d-flex justify-content-between">
                    <p class="text-grey-700">金額</p>
                    <p class="fw-bold text-secondary-800 fs-4">NT$130</p>
                  </div>
                </div>
              </div>
              <div class="card border border-primary-700 " style="width: 192px;">
                <div class="position-relative" >
                  <img src="../assets/images/img_cart/cart_04.jpg" class="card-img-top" style="height: 144px; object-fit: cover; object-position:bottom" alt="...">
                  <button class="btn-circle btn-grey-000 btn-outline-grey-400  position-absolute bottom-0 end-0 m-r-3 m-b-3"> <i class="bi bi-plus-lg "></i></button>
                </div>
                <div class="card-body border-top border-primary-700">
                  <h5 class="card-title text-grey-700 fw-bold">經典香氛蠟燭</h5>
                  <div class="d-flex justify-content-between">
                    <p class="text-grey-700">金額</p>
                    <p class="fw-bold text-secondary-800 fs-4">NT$130</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>
